
.super-nav li {
	padding: 0 20px 0 0;
}

.super-nav li:first-child {
	background: none;
}

.hero-error {
  width: 900px;
  height: 300px;
  margin: 0 auto 10px auto;
}

.hero-error.four-oh-four {
  background: url("/images/404.jpg") no-repeat;
}

li {
    margin: 0 0 5px 30px;
}

.new:after {
	color: #FF8920;
	content: "New!";
	font-size: 60%;
	padding-left: 0.3em;
	vertical-align: super;
}