This is where the main content goes.

- content_for :hero do
  %p.hero-header Header
  %p.hero-body Body

- content_for :subhead do
  %p.sub-head Description for this content page
  %a.button-plain{:href => "#"} Do Something.